body {
    background-color: rgb(26, 26, 26);
}

img {
    width: 1300px;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    margin-left: 5px;
}

.img-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-zone {
    margin: auto;
}

.img-zone {
    margin: auto;
}